/* src/index.css or a similar global CSS file */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  background-color: #222; /* Dark background color */
  color: #fff; /* Text color */
  height: 100%;
}
