/* src/components/Login.css */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./countdown\ GIF\ -\ Find\ &\ Share\ on\ GIPHY.gif') no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(10px);
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
}

form h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

form input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.5);
    color: #000;
    outline: none;
}

form input::placeholder {
    color: #666;
}

form button {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

form button:hover {
    background-color: #0056b3;
}

form .error {
    color: red;
    margin-bottom: 10px;
}

form p {
    text-align: center;
    color: #fff;
}

form a {
    color: #007bff;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}
