.movie-details-container {
    background-color: #222; /* Dark background color */
    color: #fff; /* Text color */
    padding: 20px;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-title {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.movie-description {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    max-width: 80%;
    opacity: 0; /* Initially hidden for animation */
    transition: opacity 0.5s ease-in-out; /* Smooth fade-in animation */
}

.movie-details-container:hover .movie-description {
    opacity: 1; /* Show description on hover */
}

.movie-poster {
    width: 100%; /* Ensure posters have the same width */
    max-height:600px; /* Limit the maximum height */
    object-fit: cover; /* Maintain aspect ratio and cover container */
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out; /* Smooth scaling on hover */
}

.movie-poster:hover {
    transform: scale(1.05); /* Scale up on hover */
}

@media (min-width: 768px) {
    .movie-poster {
        max-width: 50%; /* Reduce width on larger screens */
        max-height: 70%;
    }
}
