.movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.movie-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.movie-card {
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.movie-poster {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.movie-card h2 {
    margin: 10px 0;
    font-size: 1.5rem;
}

.movie-card p {
    font-size: 1rem;
    color: #555;
}

.movie-card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.movie-card a:hover {
    text-decoration: underline;
}
