.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: url('./Os\ 100\ melhores\ gifs\ de\ todos\ os\ tempos\ \(1\).gif') no-repeat center center fixed;
    background-size: cover;
    filter: brightness(65%); /* Adjust brightness as needed */
}

.profile-card {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 30px;
    text-align: center;
    width: 90%;
    max-width: 400px;
    color: white;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.profile-card h1 {
    margin-bottom: 20px;
}

.profile-card button {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    border: none;
    border-radius: 5px;
    background: rgba(255, 255, 255, 0.3);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.profile-card button:hover {
    background: rgba(255, 255, 255, 0.5);
}

.profile-card p {
    margin-top: 20px;
}

.profile-card a {
    color: #00aced;
    text-decoration: none;
}

.profile-card a:hover {
    text-decoration: underline;
}

.profile-error {
    color: red;
    margin-top: 10px;
}
